<div id="aluno-equipes">
    <div class="content-header border-bottom">
        <h1>Equipes </h1>
    </div>
    <div class="content py-3">
        <b-row class="py-3">
            <b-col cols="12">
                <b-row>
                    <b-col cols="6" sm="4" md="3" lg="2" class="mb-2" v-for="equipe in equipes">
                        <app-box-equipe-disciplina :equipe="equipe" @clickBox="visualizarEquipe"/>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </div>
    <app-visualizar-equipe v-if="equipe" :equipe="equipe" @removerSelecao="removerSelecao"/>
</div>