<div id="professor-avaliacoes">
    <div class="content-header border-bottom">
        <h1>Avaliações</h1>
    </div>
    <div class="content py-3">
        <b-row>
            <b-col>
                <app-abrir-novo-periodo-avaliacao/>
            </b-col>
            <b-col>
                <app-criterio-avaliacao />
            </b-col>
        </b-row>
        <b-row class="py-3">
            <b-col cols="6" md="4" lg="3" xl="2" v-for="projeto in projetos">
                <app-box-projeto :projeto="projeto" :mostrarDisciplina="true" @clickBox="abrirProjeto"/>
            </b-col>
        </b-row>
    </div>
</div>