<div id="professor-avaliacoes">
    <div class="content-header border-bottom">
        <h1>Equipes</h1>
    </div>
    <div class="content py-3">
        <b-row>
            <b-col>
                <app-adicionar-equipe @equipeAdicionada="buscarEquipes"/>
            </b-col>
        </b-row>
        <b-row class="mt-3">
            <b-col cols="6" sm="4" md="3" lg="2" class="mb-2" v-for="equipe in equipes">
                <app-box-equipe :equipe="equipe"/>
            </b-col>
        </b-row>
    </div>
</div>