<div id="aluno-avaliacoes">
    <div class="content-header border-bottom">
        <h1>Avaliações</h1>
    </div>
    <b-row class="mt-3" v-for="equipe in equipes">
        <div class="content-header w-100 d-flex border-bottom pb-2 mb-3">
            <h1 class="mr-3">{{equipe.equ_nome}} - {{equipe.equ_disciplina.dis_nome}}</h1>
        </div>
        <b-col>
            <h4>Projetos</h4>
            <b-row>
                <b-col cols="2" v-for="projeto in equipe.projetos">
                    <app-box-projeto :projeto="projeto" @clickBox="visualizarProjeto($event, equipe)"/>
                </b-col>
            </b-row>
        </b-col>
    </b-row>
</div>
