<div id="professor-equipes">
    <div class="content-header border-bottom">
        <h1>Projetos</h1>
    </div>
    <div class="content py-3">
        <b-row>
            <b-col>
                <!-- <app-adicionar-projeto @projetoAdicionado="buscarProjetos"/> -->
            </b-col>
        </b-row>
        <b-row class="mt-3" v-for="disciplina in disciplinas">
            
        </b-row>
    </div>
    <!-- <app-atualizar-equipe v-if="equipe" :equipe="equipe" @removerSelecao="removerSelecao" @equipeAtualizada="buscarEquipes"/> -->
</div>